.form {
    text-align: right;
}

.form button {
    font: inherit;
    cursor: pointer;
    background-color: #2eaba5;
    border: 1px solid #106662;
    color: white;
    padding: 0.25rem 2rem;
    border-radius: 20px;
    font-weight: bold;
    transition: .2s all ease-in;
}

.form button:hover,
.form button:active {
    background-color: #106662;
    border-color: #106662;
}

.errorText{
    color: #b80f0f;
}